<nav>
  <a [routerLink]="['/nome']">Nome Componente</a>
  |
  <a [routerLink]="['/perfil']">Perfil</a>
  |
  <a [routerLink]="['/product']">Produtos</a>
  |
  <a [routerLink]="['/tarefas']">Tarefas</a>
  |
  <a [routerLink]="['/clima']">Clima</a>
  |
  <a [routerLink]="['/clientes']">API-Clientes</a>
<!--  |-->
<!--  <a [routerLink]="['/produtos']">API-Produtos</a>-->
<!--  |-->
<!--  <a [routerLink]="['/employees']">API-Vendedores</a>-->
<!--  |-->
<!--  <a [routerLink]="['/sales']">API-Vendas</a>-->
</nav>
<hr />
<router-outlet></router-outlet>
