.perfil{
  display: flex;
  font-family: Arial, sans-serif;
  flex-direction: column;
  align-items: center;
}
#foto-perfil {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid blueviolet;
  object-fit: cover;
}
.perfil-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  gap: 30px;
  text-align: center;
}
